$title-font: 'Poppins', sans-serif;
$text-font: 'Source Sans Pro', sans-serif;
$main-color: #242635; 

body {
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

nav {
    width: 1440px;
    margin-top: 70px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 34%;
    margin-left: 10px;
    position: relative;
    @media screen and (max-width: 813px) {
        margin-right: 20%;
    }
    @media screen and (max-width: 320px) {
        margin-right: 10%;
    }
}

.logo__title {
    font-size: 24px;
    font-family: $title-font;
    color: $main-color;
    line-height: 1.5;
}

.nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
}

.nav__list {
    display: inline-flex;
}

.nav__link {
    list-style: none;
    &>a {
        color: $main-color;
        text-decoration: none;
        font-family: $text-font;
        font-size: 16px;
        line-height: 1.4;
        margin-left: 28px;
        &:hover {
            color: white;
            background-color: $main-color;
        }
    }
}

.info {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    @media screen and (max-width:320px) {
        display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    }
}

.info__title {
    text-align: center;
    font-size: 90px;
    font-family: $title-font;
    font-weight: 500;
    line-height: 1.1;
    @media screen and (max-width: 768px) {
        font-size: 72px;
        text-align: center;
    }
    @media screen and (max-width: 320px) {
        font-size: 36px;
        text-align: center;
    }
}

.info__text {
    margin-top: 30px; 
    font-size: 22px;
    font-family: $text-font;
    line-height: 1.5;
    color: $main-color;
    text-align: center;
    @media screen and (max-width: 320px) {
        font-size: 12px;
        text-align: center;
    }
}

.image {
    width: 864px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    margin-right: 10px;
    @media screen and (max-width: 813px){
        width: 700px;
    }
    @media screen and (max-width: 320px) {
        margin-left: 50px;
    }
}
